<!DOCTYPE html>
<html lang="en">
	<head>
	    <title>{% block title %}{% endblock title %}</title>
		<link rel="stylesheet" href="{{STATIC_URL}}css/style.css">
		<script src="{{STATIC_URL}}js/jquery-1.9.1.js"></script>
		<script src="{{STATIC_URL}}js/jquery-ui.js"></script>
		
		<script src="{{STATIC_URL}}js/jquery.cookie.js"></script>
		<script src="{{STATIC_URL}}js/zones.js"></script>
	</head>
	
	<body>
		<div id="left" class="pane">
			{% include "left.html" %}
		</div>
		
		<div id="center" class="pane">
			{% include "center.html" %}
		</div>
		
		<div id="right" class="pane">
			{% include "right.html" %}
		</div>
		<script>//Lets cards be moved around the field.
			var cards = new Array();
			var debug = false;
			
			$(function(){
				
				{%for id, card in cards.items%}
					temp = new Object();
					temp.zone = "{{card.field}}";
					temp.id = "{{card.id}}";
					temp.name = "{{card.name}}";
					temp.stats = "{{card.stats}}";
					temp.image = "{{card.image}}";
					cards[{{card.id}}] = temp;
				{% endfor%}
				$(".card").draggable();
				$(".card").mouseover(function(eventObject){
					$("#preview-name").html(cards[this.id].name);
					$("#preview-img").attr("src",cards[this.id].image);
					
				})
				$(".field").droppable({
					drop: function( event, ui ) {
						checkForChange(this.id, ui.draggable.prop('id'));
						$(this).append(ui.draggable);
						var child = ui.draggable;
						child.css("top",0);
						child.css("left",0);
					}
				})

			});
			
			
			function checkForChange(zone,id) {
				if(cards[id]!=zone) {
					var cookie = $.cookie('csrftoken'); 
					
					$.ajax({
						type: "POST",
						url: "/update/"+zone+"/"+id+"/",
						data: {
							csrftoken: cookie,
							},
						success: function() {if (debug){alert("moved "+id+ " to "+zone);} },
						error: function() {alert("post failed");},
						});
				}
			}
		</script>
	</body>
</html>
