
{% extends "base.html" %}
{% block title %}
	UHMP: Graphs
{% endblock title %}

{% block content %}
	<div id="content" class="container">
		<div id="status" class="row window">
			<div class="span12 titlebar">Graphs</div>
			<div class="graphPane">
				<label for="graphControl">Graph:</label>
					<select id="graphControl" class="inline-form-control">
					  <option>1aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</option>
					  <option>2</option>
					  <option>3</option>
					  <option>4</option>
					  <option>5</option>
					</select>

				<div id="graph" class="graphPane">
					
				</div>
			</div>
		</div>
	</div>
{% endblock content %}
