
{% extends "base.html" %}
{% block title %}
	UHMP: List
{% endblock title %}

{% block content %}
	<div id="content" class="container">
		<div id="status" class="row window">
			<div class="span12 titlebar">List</div>
			<div class="pane">
				<label for="listControl">Zone:</label>
					<select id="listControl" class="inline-form-control">
						{% for zone in Parking %}
					  <option {% if zone.name = currentArea %}selected="selected"{% endif %}>{{zone.name}}</option>
						{% endfor %}
					</select>
					<script> 
						$("#listControl").val("{{currentArea}}");
						$("#listControl").change(function() {
							window.location.replace("/list/" + $("#listControl").val());
						});
					</script>
				<div id="graph" class="paneList">
				<table>
					<tr>
						<th>Floor</th>
						<th>Area</th>
						<th>Occupancy</th>
					</tr>
					{% for area in areas %}
					<tr class="{{area.status}}" data-toggle="modal" data-target="#myModal{{area.id}}"><td>{{area.floor}}</td><td>{{area.name}}</td><td>{{area.status}}</td></tr>
					<!-- Modal -->
					
					<div class="modal fade" id="myModal{{area.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
									<h4 class="modal-title" id="myModalLabel">How Full Is {{area.name}}?</h4>
									</div>
									<div class="modal-body">
										<h3>How Full Is {{area.name}}?</h3>
										{% for name, val in choices %}
											<input type="radio" name="radio{{area.id}}" id="{{val}}" value="{{val}}" checked>{{val}}
										</br>
										{% endfor %}
										</br>
										<button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
										<button type="button" class="btn btn-primary spacer-right pull-right" onclick="update({{area.id}}, '{{currentArea}}')">Submit</button>
									</div>
							</div><!-- /.modal-content -->
						</div><!-- /.modal-dialog -->
					</div><!-- /.modal -->
					{% endfor %}
					<script>
						function update(id, currentArea) {
							$.ajax({
								url: "../update/area/" + id + "/" + $("input[type='radio'][name='radio" + id + "']:checked").val() + "/" + currentArea,
								success: function(data, textStatus) {
								    $('body').html(data);
								}
							});
							//location.reload();

						}
					</script>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}
