
{% extends "base.html" %}
{% block title %}
	UHMP: List
{% endblock title %}

{% block content %}
	<div id="content" class="container">
		<div id="status" class="row window">
			<div class="span12 titlebar">List</div>
			<div class="pane">
				<label for="graphControl">Zone:</label>
					<select id="graphControl" class="inline-form-control">
					  <option>1aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</option>
					  <option>2</option>
					  <option>3</option>
					  <option>4</option>
					  <option>5</option>
					</select>

				<div id="graph" class="graphPane">
				<table>
					<tr>
						<th>Floor</th>
						<th>Area</th>
						<th>Available Stalls</th>
					</tr>
					<tr><td>a</td><td>a</td><td>a</td></tr>
					<tr><td>a</td><td>a</td><td>a</td></tr>
					<tr><td>a</td><td>a</td><td>a</td></tr>
					
				</div>
			</div>
		</div>
	</div>
{% endblock content %}
