{% extends "base.html" %}
{% block title %}
	UHMP: Status
{% endblock title %}

{% block content %}
	<div id="content" class="container">
		<div id="status" class="row window">
			<div class="span12 titlebar">Status</div>
			{% for zone in Parking %}
			<div class="paneStatus {{zone.status}}">
				<div class="paneName">
					<div class="zoneName">{{zone.name}}</div><div class="statusBox {{zone.status}}">{{zone.status}}</div>
				</div>
				</br></br>
				<!-- Modal -->
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal{{zone.id}}">Update</button>
				<div class="modal fade" id="myModal{{zone.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h4 class="modal-title" id="myModalLabel">How Is {{zone.name}}?</h4>
								</div>
								<div class="modal-body">
									{% for name, val in choices %}
										<input type="radio" name="radio{{zone.id}}" value="{{val}}">
										{{val}}</br>
									{% endfor %}
									</br>
									<button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
									<button type="button" class="btn btn-primary spacer-right pull-right" onclick="update({{zone.id}})">Submit</button>
								</div>
						</div>
					</div>
				</div><!-- /.modal -->
			</div>
			{% endfor %}
		</div>
	</div>
	<script>
		function update(id) {
			$.ajax({
				url: "../update/parking/" + id + "/" + $("input[type='radio'][name='radio" + id + "']:checked").val(),
			        success: function(data, textStatus) {
				    $('body').html(data);
				}
			});
			//location.reload();

		}
	</script>
{% endblock content %}
