
{% extends "base.html" %}
{% block title %}
	UHMP: Status
{% endblock title %}

{% block content %}
	<div id="content" class="container">
		<div id="status" class="row window">
			<div class="span12 titlebar">Status</div>
			<div class="statusPane">
				<div class="namePane">
					<div class="zoneName">name</div><div class="statusBox">status</div>
				</div>
				</br></br><button type="button" class="btn btn-primary">Update</button>
			</div>
			<div class="statusPane">
				<div class="namePane">
					<div class="zoneName">name</div><div class="statusBox">status</div>
				</div>
				</br></br><button type="button" class="btn btn-primary">Update</button>
			</div>
			<div class="statusPane">
				<div class="namePane">
					<div class="zoneName">name</div><div class="statusBox">status</div>
				</div>
				</br></br><button type="button" class="btn btn-primary">Update</button>
			</div>
		</div>
	</div>
{% endblock content %}
